body {
	overflow: hidden;
	background-color: pink;
}

.App {
	display: flex;

}

.select-item {
	width: 33%;
	height: 100vh;
	padding-top: 220px;
	padding-right: 50px;
	padding-left: 50px;
	border-right: 3px solid rgb(135, 214, 245);
}

.select-item:last-child {
	border-right: none;
}

.select__title {
	font-size: 40px;
	text-align: center;
	margin-bottom: 30px;
	font-weight: 600;
}

.select__loader {
	width: 200px;
	position: relative;
	left: 50%;
	top: -50px;
	transform: translateX(-50%);
}

.select__loader img {
	width: 100%;
}

.error__message {
	color: red;
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
}

.error__image {
	width: 130px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.error__image img {
	width: 100%;
}